* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
}

.nav {
  box-shadow: none;
}
.front {
  z-index: 2 !important;
}
.navbar {
  display: flex;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* z-index: 10; */
}
li a {
  text-decoration: none;
  color: white;
}

.show {
  opacity: 1;
  transition: opacity 400ms;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
}

.nav-elements {
  display: flex;
  width: 80vw;
  position: fixed;
  list-style-type: none;
  color: #ffffff;
  text-align: center;
  justify-content: space-evenly;
  z-index: -1;
}
.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 3;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  line-height: 0.6;
  text-align: center;
}

.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}

.nav-tgl > span:before,
.nav-tgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #293335;
  transition: all 200ms;
}

.nav-tgl > span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.nav-tgl > span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover > span:after,
.nav-tgl:hover > span:before {
  width: 34px;
  left: 0;
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at 55px 65px);
  visibility: hidden;
  z-index: 1;
}

.menu.active .nav:before {
  visibility: visible;
  clip-path: circle(100%);
}

.menu.active .nav-tgl > span {
  height: 0;
}

.menu.active .nav-tgl > span:after,
.menu.active .nav-tgl > span:before {
  top: 0px;
  left: 0;
  width: 34px;
}

.menu.active .nav-tgl > span:after {
  transform: rotate(-45deg);
}

.menu.active .nav-tgl > span:before {
  transform: rotate(45deg);
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vw;
}
.branding-txt {
  max-width: 100%;
  height: auto;
  margin: 2%;
}
.branding-txt .heading-main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 5vw;
}
.branding-txt .heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3vw;
  font-weight: bolder;
  word-break: normal;
  /* white-space: nowrap;
    overflow: hidden; */
}

.double {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(33%, red),
    color-stop(33%, transparent),
    color-stop(66%, transparent),
    color-stop(66%, red),
    to(red)
  );
  background-image: linear-gradient(
    to bottom,
    red 33%,
    transparent 33%,
    transparent 66%,
    red 66%,
    red
  );
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 16px;
}

.content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3vw;
  text-align: center;
  font-weight: lighter;
}
.row1 {
  width: 100%;
  text-align: center;
}
.row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.main > h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3% 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.aboutus {
  width: 90%;
  text-align: left;
}

#aboutus {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  letter-spacing: 1px;
}

#aboutus p {
  margin-top: 1%;
  align-self: center;
}
.container {
  margin: 0 10%;
}

@media (max-width: 600px) {
  .section {
    justify-content: space-around;
  }
  .branding-txt {
    margin: 0;
  }
  .branding-txt .heading-main {
    font-size: 8vw;
  }
  .row2 {
    flex-direction: column;
  }
  .branding-txt .heading {
    font-size: 6vw;
  }
  .content {
    font-size: 5vw;
  }
  .main > h1 {
    margin: 3% 0 10% 0;
  }
  .container{
    flex-direction: column;
    margin: 0;
  }
  #contactus{
    margin-bottom: 10%;
  }
  .nav-elements{
    flex-direction: column;
  }
  .nav-elements li{
    margin: 5%;
  }
}
